
a {
    text-decoration: underline;
    color: var(--colour-white);
}
a:hover{
    color: var(--colour-orange);
    text-decoration: underline;
    animation: blinker 2s linear infinite;
}
a:active, #persil-main-page:active, .banner:active{
    animation: bootup 0.5s linear 1;}
    strong{ color: var(--colour-orange);
    animation: glow 5s linear infinite;
    animation: textShadow 0.5s;}

strong:hover{
    animation: textShadow 0.5s linear infinite;
}

h1{
    color: var(--colour-orange);
    font-family: 'iosevka';
    font-size: 1.85em;
    animation: glow 5s linear infinite;
}
h1:hover{
    animation: textShadow 0.5s linear infinite;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border-style: solid;
    border-width: thin;
    border-color: white;
    color: white;
}
button:hover{
    border-color: var(--colour-orange);
    color: var(--colour-orange);
    cursor: help;
}
button:active{
    animation: bootup 0.5s linear 1;
}
