
/* class to apply to a link that don't need a bootup animation */
.no-bootup{
    animation: none !important;
}

/* used to encase a block of text in a uniform backing square, useful for
readability. */
[class*="contained-"] {
    background: #140700;
    outline-style: solid ;
    outline-width: thin;
    outline-color: var(--colour-orange);
    padding: 0.4em;
}
/* normal contained width */
.contained-midwidth {
    max-width: 60em;
}
/* alt version for text dense blocks, reduces eye strain from
reading left -> write continously */
.contained-shortwidth {
    max-width: 40em;
}

/* used to offset h1 elements a fixed amount, applied depending on
 the DOM encapsulation strategy */
[class*="offset-"] {
    position: relative;
    top: 1.55em;
}
.offset-centered {
    right: 1.75em;
}
.offset-midwidth {
    right: 8em;
}
.offset-shortwidth{
    right: 3.7em;
}

/* class to use for headings, titles etc*/
.emphasis{
color: var(--colour-orange);
    font-weight: bold;
}
.emphasis:hover{
    animation: textShadow 0.5s linear infinite;
}

/* class to use for subtle text, jokes etc */
.smaller{
    color: var(--colour-grey);
    font-size: 0.65em;
}

/* class to use for directory index pages flex styling */
.dir-wrapper{
    display: flex;
    margin-left: 10%;
    margin-right: 5em;
    margin-bottom: 1em;
    column-gap: 2em;
}
.dir-wrapper-element{
    max-width: 27em;
}

/*class to use for elements that do not stay attached to the rest of the page.*/
/* NOTE: position: absolute applied by dragger.js to parent elements of this class */
.dragable{
    cursor: move;
}

/*Image class used exclusively for scaling netizen banner images*/
.banner{
    width: 5.5em;
    height: 1.93752em;
    animation: bootup 1s linear;
}

/* class to use for thumbnail images that have links to a full res equivilent */
.thumbnail{
    width: 12.5em;
    height:12.5em;
    margin: 0.25em;
    background: #140700;
    outline-style: solid ;
    outline-width: 0.10em;
    outline-color: var(--colour-orange);
}
